:root {
    --primary-color: #23ad96;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.primary {
    color: var(--primary-color);
}
.container {
    width: 80%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container h1 {
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-size: 6rem;
}
#form {
    margin-top: 3rem;
    width: 90%;
}
#form input {
    width: 100%;
    font-size: 2rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-top: 0.25rem;
    padding: 0.5rem 1rem;
    outline: none;
}
#form input:focus {
    border: 1px solid rgb(173, 173, 173);
}
#form > div {
    margin-top: 1.5rem;
}
.container table {
    border-collapse: collapse;
    margin-top: 4rem;
    width: 90%;
    table-layout: fixed;
    border-radius: 2px;
    font-size: 1.9rem;
}
.container table td,
.container table th {
    /* border: 1px #ccc solid; */
    text-align: center;
    padding: 1rem 1rem;
    overflow: hidden;
}
.container table th {
    border: 1px solid #ccc;
}
.container table td{
    overflow-x: auto;
}
.container table thead,
.container table tbody {
    border: 1px solid #ccc;
}
#x-btn i{
    /* background-color: red; */
    color: red;
    cursor: pointer;
    width: 70%;
    height: 70%;
}
.add-btn{
    width: 100%;
    height: 40px;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    font-size: 2rem;
    border-radius: 5px;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 100ms linear;
}
.add-btn:hover{
    transform: translateY(-2px);
    box-shadow: 3px 3px 10px rgba(0, 0, 0,0.2)
}
.alert{
    margin: .25rem 0;
    width: 90%;
    border-radius: 5px;
    padding: .75rem 1.5rem;
    font-size: 1.7rem;
    color: white;
}
.alert.red{
    background: red;
}
.alert.green{
    background:green;
}

.site-author{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 1.5rem;
}


@media screen and (max-width:400px) {
    html{
        font-size: 50%;
    }
    .container{
        width: 95%;
        padding: 1rem;
    }
    .container h1{
        padding: 2rem;
    }
    .site-author{
        font-size: 1.4rem;
    }
}
@media (min-width:401px) and (max-width:750px) {
    .container{
        width: 90%;
        padding: 1rem;
    }
    .container h1{
        padding: 2rem;
    }
    .site-author{
        font-size: 1.4rem;
    }
}
@media screen and (min-width:900px) {
    .container h1 {
        font-size: 10rem;
    }
}